p {
    margin: 0;
}
li {
    font-weight: bold;
}
span {
    font-weight: 100;
}
img {
    width: 100%;
    height: 100%;
}
button {
    width: 100%;
}
.title {
    font-weight: bold;
    color: rgb(135, 135, 135);
    font-size: xx-large;
}
.aspect-cell {
    width: 50%;
    /* height: 500px; */
    margin: 0 auto;
    border: solid 7px rgb(97, 97, 97);;
    /* overflow: hidden; */
}
.cell {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.photo {
    background-color: #eee;
    /* flex-basis: calc(50%);     */
    animation: vage 3s;
    position: relative;
}
.photo:hover::after {
    background-color: rgba(29, 29, 29, 0.733);
    content: 'push over!';
    text-align: center;
    vertical-align: center;
    color: #eee;
    font-weight: bold;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    /* width: 1%; */
}
.view-class {
    width: 100%;
    animation: vage 1s;
}
#image {
    width: 100%;
}
#delete:hover {
    background-color: #ff00001f;
}
.confirm-delete {
    /* opacity: 0; */
    animation: vage 1s;
}
#confirm:hover {
    background-color: rgba(4, 255, 4, 0.247);
}
#no-confirm:hover {
    background-color: #ff00001f;
}
.hidden{
    animation: vage 2s;
    display: none;
}
@keyframes vage {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }   
}


@media(max-width: 769px){
    .aspect-cell  {
        width: 55%;
    }
}
@media(max-width: 600px){
    .aspect-cell  {
        width: 98%;
    }
}
